<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>949315796544-gtcae1vbn32kpq4p342s5cl401gubb9k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.949315796544-gtcae1vbn32kpq4p342s5cl401gubb9k</string>
	<key>API_KEY</key>
	<string>AIzaSyBBgBvga2pbzoyfwKBZWGKD8AW1q2OoPk8</string>
	<key>GCM_SENDER_ID</key>
	<string>949315796544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Beene.AtalasDream</string>
	<key>PROJECT_ID</key>
	<string>grocr-5226c</string>
	<key>STORAGE_BUCKET</key>
	<string>grocr-5226c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:949315796544:ios:028180cf939e7813</string>
	<key>DATABASE_URL</key>
	<string>https://grocr-5226c.firebaseio.com</string>
</dict>
</plist>