<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>675079911350-9uuc2e4v01g2i152b5fqf0u2cm48c9ka.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.675079911350-9uuc2e4v01g2i152b5fqf0u2cm48c9ka</string>
	<key>API_KEY</key>
	<string>AIzaSyCni43mdeI774V0vWLbYoEFyEe0mBvrZ6g</string>
	<key>GCM_SENDER_ID</key>
	<string>675079911350</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cn.Beene.AtalasDream</string>
	<key>PROJECT_ID</key>
	<string>atlasdream-5727b</string>
	<key>STORAGE_BUCKET</key>
	<string>atlasdream-5727b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:675079911350:ios:7cf8898e5835e408</string>
	<key>DATABASE_URL</key>
	<string>https://atlasdream-5727b.firebaseio.com</string>
</dict>
</plist>