<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Aachen</string>
	<string>Aalen</string>
	<string>Albstadt</string>
	<string>Alfter</string>
	<string>Amberg</string>
	<string>Ansbach</string>
	<string>Aschaffenburg</string>
	<string>Augsburg</string>
	<string>Bad Homburg</string>
	<string>Bad Honnef</string>
	<string>Bad Liebenzell</string>
	<string>Bad Mergentheim</string>
	<string>Bad Reichenhall</string>
	<string>Bad Sooden-Allendorf</string>
	<string>Bamberg</string>
	<string>Bayreuth</string>
	<string>Benediktbeuern</string>
	<string>Bergisch Gladbach</string>
	<string>Berlin</string>
	<string>Bernburg</string>
	<string>Bernkastel-Kues</string>
	<string>Biberach</string>
	<string>Bielefeld</string>
	<string>Bingen</string>
	<string>Birkenfeld</string>
	<string>Bocholt</string>
	<string>Bochum</string>
	<string>Bonn</string>
	<string>Bottrop</string>
	<string>Brandenburg</string>
	<string>Brandenburg an der Havel</string>
	<string>Braunschweig</string>
	<string>Bremen</string>
	<string>Bremerhaven</string>
	<string>Brühl</string>
	<string>Buxtehude</string>
	<string>Calw</string>
	<string>Chemnitz</string>
	<string>Clausthal-Zellerfeld</string>
	<string>Coburg</string>
	<string>Cottbus</string>
	<string>Cottbus/Sachsendorf</string>
	<string>Darmstadt</string>
	<string>Deggendorf</string>
	<string>Dessau</string>
	<string>Detmold</string>
	<string>Dieburg</string>
	<string>Diepholz</string>
	<string>Dietzhölztal-Ewersbach</string>
	<string>Dortmund</string>
	<string>Dresden</string>
	<string>Duisburg</string>
	<string>Düsseldorf</string>
	<string>Eberswalde</string>
	<string>Eichstätt</string>
	<string>Eisenach</string>
	<string>Elmshorn</string>
	<string>Elsfleth</string>
	<string>Elstal</string>
	<string>Emden</string>
	<string>Erfurt</string>
	<string>Erlangen</string>
	<string>Essen</string>
	<string>Esslingen</string>
	<string>Flensburg</string>
	<string>Frankfurt</string>
	<string>Frankfurt (Oder)</string>
	<string>Frankfurt am Main</string>
	<string>Freiberg</string>
	<string>Freiburg</string>
	<string>Freising</string>
	<string>Friedberg</string>
	<string>Friedensau</string>
	<string>Friedrichshafen</string>
	<string>Fulda</string>
	<string>Furtwangen</string>
	<string>Fürth</string>
	<string>Garching</string>
	<string>Geisenheim</string>
	<string>Geislingen</string>
	<string>Gelsenkirchen</string>
	<string>Gengenbach</string>
	<string>Gera</string>
	<string>Germersheim</string>
	<string>Gießen</string>
	<string>Greifswald</string>
	<string>Gummersbach</string>
	<string>Göppingen</string>
	<string>Görlitz</string>
	<string>Göttingen</string>
	<string>Gütersloh</string>
	<string>Hachenburg</string>
	<string>Hagen</string>
	<string>Halberstadt</string>
	<string>Halle an der Saale</string>
	<string>Hamburg</string>
	<string>Hameln</string>
	<string>Hamm</string>
	<string>Hannover</string>
	<string>Heide</string>
	<string>Heidelberg</string>
	<string>Heidenheim</string>
	<string>Heilbronn</string>
	<string>Hennef</string>
	<string>Herford</string>
	<string>Hermannsburg</string>
	<string>Hildesheim</string>
	<string>Hof</string>
	<string>Holzminden</string>
	<string>Homburg</string>
	<string>Horb</string>
	<string>Höhr-Grenzhausen</string>
	<string>Höxter</string>
	<string>Idar-Oberstein</string>
	<string>Idstein</string>
	<string>Ilmenau</string>
	<string>Ingolstadt</string>
	<string>Iserlohn</string>
	<string>Ismaning</string>
	<string>Isny</string>
	<string>Jena</string>
	<string>Jülich</string>
	<string>Kaiserslautern</string>
	<string>Kamp-Lintfort</string>
	<string>Karlsruhe</string>
	<string>Kassel</string>
	<string>Kempten</string>
	<string>Kiel</string>
	<string>Kleve</string>
	<string>Koblenz</string>
	<string>Konstanz</string>
	<string>Krefeld</string>
	<string>Köln</string>
	<string>Köthen</string>
	<string>Künzelsau</string>
	<string>Landau</string>
	<string>Landshut</string>
	<string>Leer</string>
	<string>Leipzig</string>
	<string>Lemgo</string>
	<string>Leverkusen</string>
	<string>Lingen/ Ems</string>
	<string>Lippstadt</string>
	<string>Ludwigsburg</string>
	<string>Ludwigshafen</string>
	<string>Lörrach</string>
	<string>Lübeck</string>
	<string>Lüneburg</string>
	<string>Magdeburg</string>
	<string>Mainz</string>
	<string>Mannheim</string>
	<string>Marburg</string>
	<string>Markneukirchen</string>
	<string>Marl</string>
	<string>Merseburg</string>
	<string>Meschede</string>
	<string>Mettmann</string>
	<string>Minden</string>
	<string>Mittweida</string>
	<string>Moritzburg</string>
	<string>Mosbach</string>
	<string>Mönchengladbach</string>
	<string>Mülheim an der Ruhr</string>
	<string>Münchberg</string>
	<string>München</string>
	<string>Münster</string>
	<string>Neu-Ulm</string>
	<string>Neubiberg</string>
	<string>Neubrandenburg</string>
	<string>Neuendettelsau</string>
	<string>Neumarkt</string>
	<string>Neuruppin</string>
	<string>Neuss</string>
	<string>Nordhausen</string>
	<string>Nürnberg</string>
	<string>Nürtingen</string>
	<string>Oberursel</string>
	<string>Offenbach</string>
	<string>Offenburg</string>
	<string>Oldenburg</string>
	<string>Osnabrück</string>
	<string>Osterrönfeld</string>
	<string>Ottersberg</string>
	<string>Paderborn</string>
	<string>Passau</string>
	<string>Pforzheim</string>
	<string>Pfungstadt</string>
	<string>Pirmasens</string>
	<string>Potsdam</string>
	<string>Pulheim</string>
	<string>Ravensburg</string>
	<string>Recklinghausen</string>
	<string>Regensburg</string>
	<string>Reichenbach</string>
	<string>Remagen</string>
	<string>Reutlingen</string>
	<string>Rheinbach</string>
	<string>Rheine</string>
	<string>Riedlingen</string>
	<string>Rosenheim</string>
	<string>Rostock</string>
	<string>Rottenburg</string>
	<string>Rüsselsheim</string>
	<string>Saarbrücken</string>
	<string>Salzgitter</string>
	<string>Sankt Augustin</string>
	<string>Schmalkalden</string>
	<string>Schneeberg</string>
	<string>Schwalmstadt</string>
	<string>Schweinfurt</string>
	<string>Schwerin</string>
	<string>Schwäbisch Gmünd</string>
	<string>Schwäbisch Hall</string>
	<string>Senftenberg</string>
	<string>Siegen</string>
	<string>Sigmaringen</string>
	<string>Soest</string>
	<string>Stade</string>
	<string>Steinfurt</string>
	<string>Stendal</string>
	<string>Stralsund</string>
	<string>Stuttgart</string>
	<string>Stuttgart-Hohenheim</string>
	<string>Suderburg</string>
	<string>Treuchtlingen</string>
	<string>Trier</string>
	<string>Triesdorf</string>
	<string>Trossingen</string>
	<string>Tuttlingen</string>
	<string>Tübingen</string>
	<string>Ulm</string>
	<string>Unna</string>
	<string>Vallendar</string>
	<string>Vechta</string>
	<string>Velbert/ Heiligenhaus</string>
	<string>Villingen-Schwenningen</string>
	<string>Warburg</string>
	<string>Wedel</string>
	<string>Weiden</string>
	<string>Weihenstephan</string>
	<string>Weilheim-Bierbronnen</string>
	<string>Weimar</string>
	<string>Weingarten</string>
	<string>Wermelskirchen</string>
	<string>Wernigerode</string>
	<string>Wetzlar</string>
	<string>Wiesbaden</string>
	<string>Wildau</string>
	<string>Wilhelmshaven</string>
	<string>Wismar</string>
	<string>Witten</string>
	<string>Wolfenbüttel</string>
	<string>Wolfsburg</string>
	<string>Worms</string>
	<string>Wuppertal</string>
	<string>Würzburg</string>
	<string>Zittau</string>
	<string>Zweibrücken</string>
	<string>Zwickau</string>
</array>
</plist>
